{{>navbar}}

<header class="user-welcome">
    <h1> Welcome {{user.username}} </h1>
</header>
<main class="user-thumbnail">
    <img src={{removeTrailingSlash user.thumbnail}} alt="User Thumbnail">
</main>

</body>
</html>